@charset "UTF-8";

html{
  font-size: 100%;
}

/* ヘッダーに関する設定 */
header{
  background-color: #1f354d
}

.page-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

.header-title{
  font-size: 2.5rem;
  margin-left: 50px;
  color: #fff;
}

.logo{
  width: 7rem;
  margin-right: 50px;
}

/* コンテンツごとの見出しの設定 */
h2{
    font-size: 300%;
    text-align: center;
    margin-bottom: 3rem;
}

.zoom-title{
  margin-top: 8rem;
}

.zoom{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.zoom-text{
  font-size: 170%;
  margin-right: 50px;
  margin-left: 50px;
  text-align: center;
}

.zoom-img{
  width: 500px;
}

.couse-title{
  margin-top: 12rem;
}

.couse{
  display: flex;
  flex-wrap: wrap-reverse;
  align-items: center;
  justify-content: center;
}

.couse-img{
  width: 500px;
}

.couse-text{
  font-size: 170%;
  margin-right: 50px;
  margin-left: 50px;
  text-align: center;
}

.youtube-title{
  margin-top: 12rem;
}

.youtube{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 15rem;
}

.youtube-text{
  font-size: 170%;
  margin-right: 50px;
  magin-left: 50px;
  text-align: center;
}
